/* Collections.css */

.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  margin-top: 200px;
  position: relative;
  width: 100%;
  height: 500px; /* Set the height for your banner */
  overflow: hidden;
}

.banner-slider {
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth sliding transition */
  width: 100%;
}

.banner-image {
  width: 100%;
  height: auto;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
}

.prev {
  width: 50px;
  left: 10px;
}

.next {
  width: 50px;
  right: 10px;
}

.dots-container {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.collections-container {
  width: 90%;
  background: linear-gradient(135deg, #6edb64 0%, #88d56f 25%, #dff1e2 50%, #6ba4c6 75%, #4e86c5 100%);

  padding: 40px;
  border-radius: 20px 0px 20px 0px;
  margin-bottom: 40px;
  margin-top: 100px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (max-width: 1280px) {
  .collections {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .collections {
    grid-template-columns: 1fr;
  }
}
