.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 6px;
    background:rgb(116, 163, 218);
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 30px 10px;
    color: rgb(46, 18, 18);
    background-color: #e6f2ff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid rgb(174, 169, 238);
    background: #e6f2ff;
    color: black;
}
.cartitems-down{
    display: flex;
    margin: 100px 400px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 400px;
    height: 56px;
    outline: none;
    border: none;
    background: rgb(28, 22, 85);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}