.navbar-container {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #022c5c;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #022c5c;
  padding: 8px 15px;
  color: white;
  width: 100%;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.content-container {
  margin-top: 100px;
}

.navbar-logo {
  height: 40px;
  margin-top: -23px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 15px;
  margin-left: auto;
  margin-top: 3px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-button {
  width: 100px;
  height: 35px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  background: #022c5c;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #23185e;
}

/* Hidden by default, shown on smaller screens */
.menu-toggle {
  display: none;
}

.menu-toggle .dropdown-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1500;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  background-color: #fcfcfc;
  flex-direction: row; 
}

.search-input {
  width: 500px;
  height: 30px;
  padding: 2px 15px;
  border-radius: 0 0 0 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 12px;
  box-sizing: border-box;
  margin-top: -20px;
}

.search-button {
  background-color: #1b3b5f;
  color: white;
  border: 1px solid #1b3b5f;
  border-radius: 0 20px 0 0;
  height: 34px; 
  width: 250px;
  margin-top: -7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: -1px;
}

.search-button:hover {
  background-color: #022c5c;
}

.search-button span {
  margin-left: 4px;
  font-size: 10px;
}

.cart-icon {
  position: relative;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(159, 206, 224);
  color: rgb(3, 3, 3);
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 12px;
}

.profile-icon {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-icon:hover {
  color: #007bff;
}

.menu-toggle {
  display: none; /* Initially hidden */
}

/* Responsive Styling */
@media (max-width: 1024px) {
  .navbar {
    padding: 8px 10px;
  }

  .nav-menu li a {
    font-size: 14px;
  }

  .login-button {
    width: 90px;
    font-size: 14px;
  }

  .search-input {
    width: 400px;
  }

  .search-button {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 10px;
    height: 100%; /* Allow navbar to adjust height automatically */
    margin-top: 20px;
  }

  .menu-toggle {
    display: flex; /* Show dropdown icon on smaller screens */
    margin-right: 15px; /* Adjust margin for smaller screens */
  }

  .search-container {
    width: 100%;
    flex-direction: column;
    padding: 5px 0;
    margin-top: 40px;
  }
  .navbar-logo {
    height: 40px;
    margin-top: -23px;
  }

  .search-input {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0 10px 0 10px;
  }

  .search-button {
    width: 100%;
    border-radius: 0 10px 0 10px;
  }

  .nav-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    gap: 8px;
    background-color: #022c5c;
    position: absolute;
    top: 60px; /* Adjust this as necessary */
    right: 10px;
    padding: 15px;
    border-radius: 5px;
  }

  .nav-menu.nav-menu-visible {
    display: flex;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .search-container {
    width: 100%;
    flex-direction: column;
    padding: 10px 0;
  }

  .search-input {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 0 20px 0 20px;
  }

  .search-button {
    width: 100%;
    margin-left: 0;
  }
}