/* Navbar.css */
.navbar {
<<<<<<< Updated upstream
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
=======
  position: fixed; /* Fixes the navbar to the top of the viewport */
  top: 0; /* Aligns it at the top */
  left: 0; /* Aligns it to the left of the viewport */
  width: 100%; /* Ensures it spans the full width of the viewport */
  z-index: 1000; /* Keeps the navbar above other elements */
  background-color: #fff; /* Sets the background color */
  padding: 10px; /* Adds padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
}

.main-content {
  padding-top: 60px; /* Adds padding to prevent content from being hidden under the navbar */
>>>>>>> Stashed changes
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo {
  height: 50px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-menu-visible {
  display: block;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-bar {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #003366;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-results {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.search-results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
