/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #022c5c;
  padding: 10px 20px;
  color: white;
<<<<<<< Updated upstream
  width: 100%;
=======
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the navbar stays on top of other elements */
>>>>>>> Stashed changes
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  height: 50px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
<<<<<<< Updated upstream
  margin-left: auto; /* Adjust margin for alignment */
=======
  margin-left: auto;
  margin-top: 0;
>>>>>>> Stashed changes
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font weight */
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust gap between login button and cart */
}

.login-button {
  width: 100px; /* Adjust button width */
  height: 35px; /* Adjust button height */
  outline: none;
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font weight */
  background: #022c5c;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center; /* Center text horizontally */
  display: flex;
  justify-content: center;
<<<<<<< Updated upstream
  align-items: center;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #23185e; /* Darker shade or different color on hover */
=======
  width: 100%;
  margin-top: 10px;
}

.search-bar {
  width: 420px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
>>>>>>> Stashed changes
}

.menu-toggle {
  display: none;
}

.menu-toggle .hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #022c5c;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 5px;
  }

  .nav-menu.nav-menu-visible {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 20px; /* Adjust margin for alignment */
  }
}
